/*********************************************/
/*     Hoja de estilo receta salmorejo       */
/*      Iván Caro Romero                     */
/*********************************************/
*{box-sizing: border-box;}
@font-face {
    font-family: titulo;
    src: url(../FONTS/Breston\ Oblique.otf);
}
@font-face {
    font-family: texto;
    src: url(../FONTS/magnisa-sans.regular.ttf);
}
body{font-family: texto;
    background-image: url(../IMG/fondo.jfif);}
#wrapper{width: 60vw;
    background-color: #7f634a;
    margin: auto;
    width: 80%;
    padding-top: 2%;
    padding-bottom: 5%;}
    #nota {text-align: center;
        font-size: 150%;
        color: #D8C4B6;}
    #lista {font-size: 130%;
        padding-left: 35%;
        color: #D8C4B6;}
    #proceso {font-size: 120%;
        text-align: center;
        color: #D8C4B6;
        padding-left: 20%;
        padding-right: 20%;}
h1, h2{text-align: center;
    color: #F58E03;
    font-family: titulo;
    font-size: 250%;
    border-bottom: 2px solid #B1301C;
    margin-left: 30vw;
    margin-right: 30vw;
    border-radius: 90px;}
#largo{margin-left: 23vw;
    margin-right: 23vw;}
#corto{margin-left: 33vw;
    margin-right: 33vw;}


@media only screen and (width<900px) {
    #wrapper {width: 85%;}
    h1,h2 {width: 80%}
}